NBC/AKCodEVOCA180119/salidaOutfile
NBC/AKCodEVOCA180119/main.o
NBC/AKCodEVOCA180119/resultados.res
NBC/AKCodEVOCA180119/EVOCA
NBC/AKCodEVOCA180119/datos.txt
NBC/TrainingReFormat/InstanceList.txt
NBC/AKCodEVOCA180119/main.cpp
NBC/AKCodEVOCA180119/EVOCA
NBC/src/TuningVersionOL-AK/ACO.o
NBC/src/TuningVersionOL-AK/Main.o
NBC/src/TuningVersionOL-AK/AK
NBC/src/TuningVersionOL-AK/parametros.txt
NBC/AKCodEVOCA180119/modeloEVOKA.joblib
NBC/AKCodEVOCA180119/__pycache__/modelos.cpython-38.pyc
NBC/AKCodEVOCA180119/stats.txt
NBC/TestingReFormat/InstanceList.txt
NBC/src/TuningVersionOL-AK/.~lock.ResultadoEval.xlsx#
NBC/src/TuningVersionOL-AK/ResultadoEval.xlsx
NBC/TestTrial/OR5x100-0.25_6.dat
NBC/TestTrial/OR10x100-0.75_6.dat
NBC/TestTrial/OR5x100-0.25_7.dat
NBC/src/TuningVersionOL-AK/parametros.txt
docker-output
NBC/AKCodEVOCA180119/statsModelo.txt
